
body{
	font-family:Arial, Helvetica, sans-serif;
}

.directionInfo{
	left: 122px;
    position: absolute;
    top: 58px;
}

#versionText{
	 left: 10px;
    position: absolute;
    top: 760px;
}

#infoPrint {
    display: none;
}

.hidden{
	display:none;
}

.infoContainer{
	position:relative;
	font-size:12px;
}

.infoOpposite{
	position:absolute;
	font-size:13px;
}	
.infoOppositeN{
	   font-weight: bold;
    left: 410px;
    top: 8px;
    width: 300px;
	
}
.infoOppositeS{
	position:absolute;
	top:10px;
	left:190px;
	width:300px;
	font-weight:bold;
}

.infoLocation{
	position:absolute;
	font-size:13px;
}
.infoLocationN{
	font-weight: bold;
    left: 76px;
    top: 277px;
    width: 300px;
}
.infoLocationS{
	font-weight: bold;
    left: 337px;
    position: absolute;
    top: 10px;
    width: 300px;
}

.infoEntranceLabel{
	position:absolute;
	border:1px solid;
	border-radius:5px;
	border-color:#000000;
	background-color:#00aeef;
	  padding: 2px;
	color:white;
}
.infoEntranceLabelN{
	  font-weight: bold;
    left: 417px;
    top: 276px;
    width: 78px;
}
.infoEntranceLabelS{
	  left: 200px;
    position: absolute;
    top: 275px;
    width: 70px;
}

.infoType{
	position:absolute;
	font-size:13px;
}
.infoTypeN{
	 font-weight: bold;
    left: 105px;
    position: absolute;
    top: 8px;
    width: 300px;
}

.infoTypeS{
	  font-weight: bold;
    left: 349px;
    position: absolute;
    top: 277px;
    width: 375px;
}

#logo{
	left: 5px;
    position: absolute;
    top: 0px;
}

#selector{
	font-size: 13px;
    font-weight: bold;
    left: 6px;
    position: absolute;
    top: 84px;
}

#print{
	 left: 5px;
    position: absolute;
    top: 357px;
}

#printDesc{
   font-size: 13px;
    left: 85px;
    position: absolute;
    top: 362px;
	font-weight:bold;
}

#legenda{
	 left: -4px;
    position: absolute;
    top: 471px;
}


#routeChoice{
	position:absolute;
	left:500px;
	top:100px;
}

div.menuContainer {
	position: absolute;
	top: 0px;
	left: 748px;
	width: 473px;
	background-color: #333333;
	font-family: "Arial", Times, serif;
	
}
div.menutItemContainer {
	display: none;
	position: absolute;
	left: 30px;
}
div.menuItemSelected {
	background-color: #00aeef;
}
div.menuItemDeSelected {
	background-color: #333333;
}
div.menuItemLetter {
	width: 30px;
	height: 30px;
	color: white;
	size: 208x;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	font-weight: bold;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
div.menuRouteItem {
	cursor: pointer;
	border: 1px solid;
	background-color: #d5d5d5;
	width: 440px;
}
div.maps {
	left: 200px;
    position: absolute;
    top: 65px;
}
.ontzichtbaar {
	display: none;
}
div.labelMap1 {
	   color: #353535;
    font-size: 11px;
    left: 205px;
    position: absolute;
    top: 26px;
}

div.instructionMap1{
	 font-size: 11px;
    left: 315px;
    position: absolute;
    top: 26px;
    width: 390px;
}
div.labelMap2 {
	     color: #353535;
    font-size: 11px;
    left: 201px;
    position: absolute;
    top: 409px
}
div.instructionMap2{
position:absolute;
	left: 315px;
	top:409px;
	 width: 390px;
	font-size: 11px;
}
div.topLabel {
	display: none;
}
div.map {
	position: relative;
}
div.map1 {
	/*
	transform: rotate(180deg);
	/* IE 9 * /
	-ms-transform: rotate(180deg);
	/* Safari and Chrome * /
	-webkit-transform: rotate(180deg);
	*/
}
div.map2 {
	/*
	transform: rotate(180deg);
	/* IE 9 * /
	-ms-transform: rotate(180deg);
	/* Safari and Chrome * /
	-webkit-transform: rotate(180deg);
	*/
	top: 77px;
}
.mapFloor {
	position: relative;
	top: 0px;
	left: 0px;
}
.mapContent {
	position: absolute;
	top: 0px;
	left: 0px;
}
.mapImage {
	position: relative;
	top: 0px;
	left: 0px;
}
.mapArrow {
	width: 0px;
	height: 0px;
}
span.mapLabelStart {
	color: black;
	display: inline-block;
	white-space: nowrap;
}
span.mapLabelEnd {
	padding: 2px;
	color: white;
	background-color: #353535;
	display: inline-block;
	white-space: nowrap;
	font-size:12px;
}

div.mapsNoffset{
	left: 181px;
    position: absolute;
    top: 60px;
}

.tooltip{
	display:none;
}
.tooltip{
	display:none;
}
.tooltipInner{
	display:none;
}

.tooltip span{
	display:none;
}
/*
.tooltip {
	display: inline-block;
	width: auto;
	height: auto;
	padding-bottom: 13px;
	background: url("../images/tooltip_bg.png") bottom right no-repeat;
	position: absolute;
}
.tooltip {
	display: block;
	position: absolute;
}
.tooltipInner {
	display: inline-block;
	width: auto;
	height: auto;
	min-width: 100px;
	padding-bottom: 13px;
	bottom: 10px;
	right: -50px;
	background: url("../images/tooltip_bg.png") bottom right no-repeat;
	position: absolute;
}
.tooltip span {
	display: block;
	padding: 10px 10px 10px 10px;
	color: #FFFFFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.89);
}
*/
