html, body {
	padding: 0px 0px 0px 0px; 
	margin: 0px 0px 0px 0px;
}

div.mapsContainer {
	position:relative;
}

img.maps {
	padding: 0px 0px 0px 0px; 
	margin: 0px 0px 0px 0px;
}

div.floor1_container {
	position:absolute;
	top:0px;
	left:100px;
}

div.floor2_container {
	position:absolute;
	top:500px;
	left:150px;
}

div.floors_collection {
	position:relative;
}
img.floors_tjatchi {
	position:absolute;
	top:0px;
	left:0px;
}
div.Core31415926535897932384626433832preload{
	opacity: 0; 
	visibility: visible;
	top:-3141592px;
}


.ontzichtbaar {
	display:none;
}

.hidden {
	display:none;
}

div.maps {
	position:absolute;
	left:5px;
	top: 0px;
}

div.map {
	position:absolute;
}

div.map1 {
	/*height:350px;*/
}



.floorText{
	border:1px solid;
	border-radius:5px;
	border-color:#e5e5e5;
	background-color:#e5e5e5;
	padding:10px;
	margin:5px;
}

#floor2Text{
	position:relative;
}


.helpText{
	/*
	position:absolute;
	top: 20px;
	right:20px;
	border:1px solid;
	border-radius:5px;
	border-color:#e5e5e5;
	background-color:#e5e5e5;
	padding:10px;
	*/
	background-color: #E5E5E5;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	padding: 5px;
	position: absolute;
	right: 20px;
	top: 8px;
}

#versionText{
	position:absolute;
}

.mobileFooter{
	position:absolute;
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}

.mobileFooter1{
	top: 348px;
}

.mobileFooter2{
	top: 668px;
}

.mapFloor {
	position:relative; top:0px; left:0px;
}

.mapContent {
	position:absolute; top:0px; left:0px;
}

.mapImage {
	position:relative; top:0px; left:0px;
}

.mapArrow {
	width:0px;
	height:0px;
}

span.mapLabelStart {
	
	display: inline-block;
	white-space:nowrap;

	border:1px solid;
	border-radius:5px;
	border-color:#000000;
	background-color:#00aeef;
	padding:5px;
	color:white;
	
	/*transform:scale(0.5, 0.5);*/
	/*-ms-transform:scale(0.5, 0.5); *//* IE 9 */
	/*-webkit-transform:scale(0.5, 0.5);*/ /* Safari and Chrome */
}

span.mapLabelEnd {
	color:white;
	background-color:#000000;
	display: inline-block;
	white-space:nowrap;
}
.tooltip {
	display:none;
}
.tooltipInner {
	display:none;
}
.tooltip span {
	display:none;
}